<html><head>
<title>个人信息贷款申请表</title>
<meta http-="" equiv="Content-Type" content="text/html; charset=utf-8">
<link href="../css.css" rel="stylesheet" type="text/css">

<style>

td {
	border: 1px solid;
    width: 100px;
    text-align: center;
    height: 40px;
}
.title {
    width: 43%;
    text-align: center;
    font-size: 18pt;
    font-weight: bolder;
}
.back {
    background: yellow;
}
</style>
</head>
<body>
<img src="temp.jpg">
<div class="title">个人信息贷款申请表</div>
<h2>合作方信息</h2>
<table cellspacing="0" cellpadding="0">
	<tbody><tr>
		<td>序号</td>
		<td class="back">seqNo</td>
		<td>合作方系统</td>
		<td class="back">ApplySerialNo</td>
		<td></td>
		<td></td>
		<td>合作方代扣金额</td>
		<td class="back">Fees</td>
	</tr>
	<tr>
		<td>代扣手续费账户名称</td>
		<td colspan="3" class="back">FeesAccountName</td>
		<td>代扣手续费账户</td>
		<td colspan="3" class="back">FeesAccountNo</td>
	</tr>
</tbody></table>

<h2>借款人信息</h2>
<table cellspacing="0" cellpadding="0">
	<tbody><tr>
		<td>客户姓名</td>
		<td class="back">张三</td>
		<td>性别</td>
		<td class="back">Sex</td>
		<td>出生日期</td>
		<td class="back">Birthday</td>
		<td>婚姻状况</td>
		<td class="back">Marriage</td>
	</tr>
	<tr>
		<td>证件号码</td>
		<td colspan="3" class="back">CertId</td>
		<td>身份证发证机关所在地</td>
		<td colspan="3" class="back">CertIdAddress</td>
	</tr>
	<tr>
		<td>居住地址</td>
		<td colspan="3" class="back">FamilyAdd</td>
		<td>省份、直辖市、自治区</td>
		<td colspan="3" class="back">NativePlace</td>
	</tr>
	<tr>
		<td>月收入</td>
		<td class="back">MonthIncome</td>
		<td>居住状况</td>
		<td class="back">FamilyStatus</td>
		<td>教育程度</td>
		<td class="back">EmployRecord</td>
		<td>职务类型</td>
		<td class="back">PosionLevel</td>
	</tr>
	<tr>
		<td>单位名称</td>
		<td colspan="5" class="back">WorkCorp</td>
		<td>部门</td>
		<td class="back">Department</td>
	</tr>
	<tr>
		<td>职业</td>
		<td colspan="2" class="back">Occupation</td>
		<td>雇佣类型</td>
		<td class="back">EmployeeType</td>
		<td>单位所属行业</td>
		<td colspan="2" class="back">UnitKind</td>
	</tr>
	<tr>
		<td>职务名称</td>
		<td colspan="5" class="back">HeadShip</td>
		<td>现单位工作年限</td>
		<td class="back">WorkBeginDate</td>
	</tr>
	<tr>
		<td>单位地址</td>
		<td colspan="3" class="back">Commadd</td>
		<td colspan="2">省份、直辖市、自治区</td>
		<td colspan="2" class="back">NativeAdd</td>
	</tr>
	<tr>
		<td>手机</td>
		<td class="back">MobileTelephone</td>
		<td>区号</td>
		<td class="back">CorpArea</td>
		<td>号码</td>
		<td class="back">WorkTel</td>
		<td>单位性质</td>
		<td class="back">WorkNature</td>
	</tr>
</tbody></table>

<h2>联系人信息</h2>
<table cellspacing="0" cellpadding="0">
	<tbody><tr>
		<td colspan="2">密切联系人姓名</td>
		<td class="back">FamilyName</td>
		<td colspan="2">密切联系人关系</td>
		<td class="back">FamilyRelationship</td>
		<td>密切联系人手机</td>
		<td class="back">FamilyMobileTelephone</td>
	</tr>
	<tr>
		<td colspan="2">紧急联系人姓名</td>
		<td class="back">NoFamilyName</td>
		<td colspan="2">紧急联系人关系</td>
		<td class="back">NoFamilyRelationship</td>
		<td>紧急联系人手机</td>
		<td class="back">NoFamilyMobileTelephone</td>
	</tr>
</tbody></table>

<h2>贷款信息</h2>
<table cellspacing="0" cellpadding="0">
	<tbody><tr>
		<td>贷款品种</td>
		<td class="back">BusinessType</td>
		<td>贷款金额</td>
		<td class="back">BusinessSum</td>
		<td>详细用途</td>
		<td class="back">PurPose</td>
		<td>贷款用途</td>
		<td class="back">PurPoseType</td>
	</tr>
	<tr>
		<td>支付方式</td>
		<td class="back">PayMentmode</td>
		<td>贷款期限</td>
		<td class="back">Termmonth</td>
		<td>还款账户名</td>
		<td colspan="3" class="back">PayAccountName</td>
	</tr>
		<tr>
		<td>还款账户</td>
		<td class="back" colspan="3">PayAccountNo</td>
		<td>入账账户</td>
		<td class="back" colspan="3">LoanAccountNo</td>
	</tr>
		<tr>
		<td>收款人名称</td>
		<td class="back" colspan="3">ProjectName</td>
		<td>收款人账号</td>
		<td class="back" colspan="3">TradeContractNo</td>
	</tr>
		<tr>
		<td>收款行名称</td>
		<td class="back" colspan="3">receivablesBank</td>
		<td>收款行开户地点</td>
		<td class="back" colspan="3">receivablesAddress</td>
	</tr>
</tbody></table>


</body></html>